* {
    font-family: 'Manrope', sans-serif;
}
.container {
    max-width: 1156px;
    margin: 0 auto;
    &_second {
        max-width: 1250px
    }
}

@import 'blocks/promo';
@import 'blocks/button';
@import 'blocks/information';
@import 'blocks/footer';
@import 'blocks/arrow';
@import 'blocks/media';